.app-container {
  min-height: 100vh;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: black !important;
  display: flex;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  transition: all 0.3s ease;
  color: black !important;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.main-content {
  min-height: calc(100vh - 76px);
  backdrop-filter: blur(10px);
  margin: 0px 30px;
}
img {
  height: 5rem;
  width: 6rem;
}


